#descripcion{
    display: flex;
    padding: 5rem;
    align-items: center;
    justify-content:space-between;
}

.text-descripcion{
    flex-basis: 70%;
    
}

.img-descripcion{
    flex-basis: 30%;
    text-align: center;
}

.img-descripcion img{
    width: 50%;
}