
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro2);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
}


.item{
    padding: 1rem;
}


.item-0{
    border-radius: 5%;
    background-color: #337AB7;
    padding: 0.5rem;
    align-content: center ;
}
.item-0:hover{
    background-color: #0B3860;
    width: 100%;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
    margin: 1rem; 
}


nav a:hover{
    color: var(--azuloscuro);
    width: 100%;
}

.logo img{
    height: 4rem;     
}


.logo i{
    background-color: #000;
}
